[submodule "dali/vendor/spdlog"]
	path = dali/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "dali\\vendor\\glfw"]
	path = dali\\vendor\\glfw
	url = git@github.com:glfw/glfw.git
[submodule "dali\\vendor\\imgui"]
	path = dali\\vendor\\imgui
	url = git@github.com:ocornut/imgui.git
[submodule "dali/vendor/glm"]
	path = dali/vendor/glm
	url = git@github.com:g-truc/glm.git
